<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>esercizio-jdbc</display-name>
  <servlet>
  	<servlet-name>city</servlet-name>
  	<servlet-class>it.objectmethod.esercizio.servlets.CityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>city</servlet-name>
  	<url-pattern>/get-city</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>country</servlet-name>
  	<servlet-class>it.objectmethod.esercizio.servlets.CountryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>country</servlet-name>
  	<url-pattern>/get-country</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>user</servlet-name>
  	<servlet-class>it.objectmethod.esercizio.servlets.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>user</servlet-name>
  	<url-pattern>/get-utente</url-pattern>
  </servlet-mapping>
</web-app>